body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

#cocktailInfo {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

input[type="text"] {
    width: 40%;
    padding: 10px;
    font-size: 16px;
    margin: auto; 
    display: block; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    margin: auto; 
    display: block;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 20px;
}

h2, h3 {
    color: #333;
}

p {
    color: #555;
}
